@media only screen and (max-width: 450px) {

    .jumbotron{
        height: 100%;
    }

    .hero-text{
        top: 50%;
        transform: translate(-50%, -10%);
    }
    #hero {
        width: 80%;
    }

    .profile-pic{
        width: 25%;
        margin: 1% 38%;
    }

    .card-100-text{
        width: 94%;
        margin: 2%;
    }
}